<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="/">Calc</a>
    </div>
    <ul class="nav navbar-nav">
        <!--           <li><a href="index.html">Home</a></li>          -->
        {% if user.is_authenticated %}
        <li><a href="#">Welcome, {{ user.username }}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Sign In</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'registration' %}">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>